<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="1.css">
</head>
<body>
    <header>

        <div id="nav_bar">
            <div class="Paddle"></div>
            <div id="nav_content">
                <div id="home">home</div>
                <div id="school_flag">school</div>
                <div id="course_title">Spring 2022 EAPS 36000-001 LEC</div>
                <div id="course_selector">a</div>
                <div id="message">a</div>
                <div id="alert">a</div>
                <div id="person">
                    <div>img</div>
                    <div>Shicheng Fang</div>
                </div>
                <div id="setting">setting</div>
            </div>
            <div class="Paddle"></div>
        </div>
        <div id="utils">
            <!-- <div class="Paddle"></div> -->
            <div id="util_content">
                <div class="util_item">Course Home</div>
                <div class="util_item">Content</div>
                <div class="util_item">Classlist</div>
                <div class="util_item">Grades</div>
                <div class="util_item">Class Progress</div>
                <div class="util_item">Course Tools</div>
                <div class="util_item">Help</div>
            </div>
            <!-- <div class="Paddle"></div> -->
        </div>
    </header>
</body>
</html>