<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="checkLogin" method="post" id="login">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
    Do not have an account? <a href="signin">Sign in</a>

    {% load static %}
    <script src="{% static "BrightSpace/javascript/logInCheck.js" %}"></script>
</form>
</body>
</html>