<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/createUser" method="post" id="sign_in">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <label>Repeat your password:</label>
    <input type="password" name="repeatPassword">
    <input type="submit" value="Submit">
</form>
{% load static %}
<script src="{% static "BrightSpace/javascript/signInCheck.js" %}"></script>
</body>
</html>